td {border: 1pt solid black; padding: 5pt;}

.total:before {content: "total: ";}

th.percent, td.percent {text-align: right;}
span.percent:after {content: " %";}

noscript {
    font-weight: bold;
    font-size: x-large;
}
