<!DOCTYPE html >
<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<html>
    <head>
        <title>Title</title>
        <meta charset="UTF-8" />
        <!-- meta tags -->
        <!-- link tags -->
        <!-- styles -->
        <!-- scripts -->
    </head>
    <body id="body" >
        <header id="header" >
            
        </header>
        <div id="main" >
            
        </div>
        <footer id="footer" >
            
        </footer>
    </body>
</html>
